body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    color: #f2fff2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3ffe3;
}
form {
    width: 30rem;
    height: 70vh;
    padding: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
    background-color: #154215;
    box-shadow: 10px 0px 13px -7px #807b73, -10px 0px 13px -7px #807b73;
}
h1 {
    text-align: center;
    align-self: center;
}
label, input {
    display: block;
}
label {
    position: relative;
    top: 2rem;
}
span {
    position: relative;
    transition: all 2s ease-out;
}
span.wave {
    color:yellow;
    transform: translateY(-1rem);
}
input {
    font-size: 18pt;
    height: 2rem;
    width: 30rem;
    box-shadow: none;
    outline: none;
    border: none;
    color:#f2fff2;
    background-color: #154215;
    border-bottom: 2pt solid #f2fff2
}
input[type="submit"] {
    width: 30.5rem;
    height: 2.5rem;
    background-color: #e3ffe3;
    color: #154215;
}
a {
    color: #f59393;
}

