:root {
    --body-color: #9471ab;
    --form-color: #360657;
    --font-color: #e8d5f5;
    --input-color: #faf7fc;
    --shadow-color: #030005;
    --register-color: dodgerblue;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    color: var(--font-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-color);
}
form {
    width: 30rem;
    height: 60vh;
    padding: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
    background-color: var(--form-color);
    box-shadow: 10px 0px 13px -7px var(--shadow-color), -10px 0px 13px -7px var(--shadow-color);
}
h1 {
    text-align: center;
    align-self: center;
}
label, input {
    display: block;
}
label {
    position: relative;
    top: 2rem;
}
span {
    display: inline-block;
    position: relative;
    transition: all 500ms ease-out;
}
span.wave {
    transform: translateY(-2rem);
}
input {
    font-size: 18pt;
    height: 2rem;
    width: 30rem;
    box-shadow: none;
    outline: none;
    border: none;
    color:var(--input-color);
    background-color: var(--form-color);
    border-bottom: 2pt solid var(--font-color);
}
input[type="submit"] {
    width: 30.5rem;
    height: 2.5rem;
    background-color: var(--font-color);
    color: var(--form-color);
    cursor: pointer;
}
a {
    color: var(--register-color);
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14pt;
    }
    form {
        width: 60vw;
        padding: 2rem;
    }
    h1 {
        font-size: 2rem;
    }
    input {
        width: 60vw;
    }
    input[type="submit"] {
        width: 60vw;
        margin-top: 1rem;
    }
}
